@font-face {
    font-family: "Jost";
    src: url('email-templates/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

.nav-link {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center;
}

.nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid #000000;
}

/* Specific styling for thead-dark class */
thead.thead-dark th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: none;
    background-color: white;
}

.table-light {
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.offcanvas {
    width: 700px !important;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    outline: 0;
    box-shadow: none !important;
}

.form-select:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    outline: 0;
    box-shadow: none !important;
}

select option:disabled {
    color: lightgray;
}

select option {
    color: black;
}