@font-face {
    font-family: "Jost";
    src: url('email-templates/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

.nav-link {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center;
}

.nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid #000000;
}

/* Specific styling for thead-dark class */
thead.thead-dark th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: none;
    background-color: white;
}

.table-light {
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.offcanvas {
    width: 700px !important;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    outline: 0;
    box-shadow: none !important;
}

.form-select:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    outline: 0;
    box-shadow: none !important;
}

select option:disabled {
    color: lightgray;
}

select option {
    color: black;
}


/* ------------ Pagination css-------------------- */
.pagination .page-item .page-link {
    color: black;
}

.pagination .page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: white;
}

.page-item {
    padding-right: 10px;
}

.page-item .page-link {
    border-radius: 5px;
}

.pagination {
    --bs-pagination-disabled-color: #f5f5f7;
    --bs-pagination-disabled-bg: #f5f5f7;
    --bs-pagination-disabled-border-color: #e8e6e2;
}

/* ------------ Pagination css end-------------------- */

/* ------------ Bradcrumb css start-------------------- */

.fw-400 {
    opacity: 0.5;
    color: #000;
    font-weight: 400 !important;
    font-size: 18px !important;
}

/* ------------ Bradcrumb css end-------------------- */

/* ------------ Form css start-------------------- */

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    background-color: #f5f5f7 !important;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
    color: black;
    opacity: 0.4;
}

input::placeholder {
    color: black !important;
    opacity: 0.5 !important;
}

.ql-toolbar.ql-snow {
    background: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
}


.custom-textarea,
.custom-editor {
    border-radius: 0 0 5px 5px; 
}

select#placeholders {
    background-color: #F5F5F7 !important;
}


body {
    background-color: #F5F5F7;
   
  }

  .nav-link {
    color: rgba(0, 0, 0, 0.5) !important;
}

/* For active tab, set black color with full opacity */
.nav-link.active {
    color: rgba(0, 0, 0, 1) !important;
}

 
/* ------------ Form css end-------------------- */


nav.navbar.navbar-expand-lg.navbar-light{
   
    padding: 20px !important;
}
 
.content {
    padding: 10px;
  }
 
  .br-11 {
    border-radius: 12px;
  }

  
.title {
    color: black;
    font-weight: 500;
    font-size: 24px;
  }
  
  .new_template {
    color: #fff;
    font-weight: 500;
   
  }

/* ------------ Form css end-------------------- */

@media (max-width: 768px) {
.back-icon {
    display: none;
}
.logout-icon{
    display: none;
}

.vr{
    display: none;
}
}